html {
    font-family: "HelveticaNeueLT Std Cn";
    font-size: 14pt;
}
#topmenu {
    background-color: #006699;
    width: 100%;
    font-family: "Helvetica";
    font-size: 10pt;
}
#topmenu .nav-link {
    color: #ffffff !important;
}
#topmenu .nav-item .active {
    color: #006699;
}